@import url('https://fonts.googleapis.com/css?family=Muli:200,700&display=swap');

// ------- Variables

// -- Colors
$bl: #000;
$dgr: #222;
$wt:#fff;
$mag: magenta;

// -- Fonts
$mon: 'Muli', sans-serif;

// -------

*, *:before, *:after {
  margin:0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

body {
  margin: .5em auto;
  width: 100%;
  min-height: 100vh;
  font-family: $mon;
  color: $wt;
  text-align: center;
  background:
  linear-gradient(180deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.85) 100%),
  url('https://picsum.photos/id/1048/5616/3744') no-repeat;
  background-size: cover;
  padding-bottom: 2rem;

  @media (min-width: 800px) {
    margin: 0 auto;
    max-width: 50em;
  }
}

h1 {
  font-size: 2em;
  font-weight: 200;
  line-height: .9;
  padding: .25em 0 0;
  margin: .75em auto 1em;
}

.form {
  --borderRadius: 4px;
  width: 90%;
  border-radius: var(--borderRadius);
  padding: 2em 4em;
  margin: 2rem auto;
  background: rgb(107,49,147);
  background: -webkit-linear-gradient(bottom, rgba(107,49,147,1) 0%, rgba(105,151,210,1) 100%);
  background: -o-linear-gradient(bottom, rgba(107,49,147,1) 0%, rgba(105,151,210,1) 100%);
  background: linear-gradient(to top, rgba(107,49,147,1) 0%, rgba(105,151,210,1) 100%);
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
}

label,
input,
textarea {
  display: block;
  width: 100%;
  font-family: $mon;
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
}

input,
textarea {
  color: $wt;
  border: none;
  margin-bottom: 10px;
}

label {
  text-align: left;
}

.text {
  display: flex;

  label {
    width: 30%;
    align-self: center
  }

  input {
    line-height: 1.5;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  }
}

.select {
  margin: 2rem 0;

  label {
    padding-bottom: 1rem;
  }
}

  // -- Textarea
.feedback {
  margin-top: 2rem;
  
  textarea {
    height: 8em;
    line-height: 1.2;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    background: rgba(255,255,255,0.15);
  }
}


// -- Radios
.terms {
  margin-bottom: 4rem;

  p {
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .radio {
    margin: 10px auto;
    width: 75%;

    @media (min-width: 500px) {
      display: flex;
    }

    input {
      display: none;
      &:checked + label:after {
        transform: scale(1);
      }
    }
    label {
      position: relative;
      padding-left: 32px;
      cursor: pointer;
      font-weight: 500;
      &:before {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        border: 1px solid $wt;
        border-radius: 50%;
        left: 0;
        top: 0;
      }
      &:after {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        top: 5px;
        left: 5px;
        background: magenta;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s ease;
      }
    }
  }
}


// -- Checkboxes
.heros {
  margin-bottom: 4rem;

  p {
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .check {
    position: relative;
    user-select: none;
    margin-bottom: 10px;

    @media (min-width: 750px) {
      display: flex;
    }
    
    input {
      display: none;
    }
    
    label {
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      font-size: 1.1em;
      font-weight: 500;
      padding-left: 35px;
      margin-bottom: 1.5em;

      @media (min-width: 750px) {
        margin-bottom: 0;
      }
    }

    span.box {
      display: inline-block;
      width: 20px;
      border-radius: var(--borderRadius);
      border: 1px solid $wt;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 3px;
      transition: 0.3s ease;
      position: absolute;
      left: 0;
      top: 0;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 16px;
        // border-radius: 40px;
        background: $wt;
        transition: all 0.3s ease;
      }

      &:before {
        transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0);
      }

      &:after {
        height: 8px;
        transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0);
      }
    }
    
    input:checked {
      + label {
        span.box {
          background: $mag;
          border-color: $mag;
          
          &:before {
            transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1);
          }
          
          &:after {
            height: 8px;
            transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1);
          }
        }
      }
    }

    label:nth-of-type(2) {
      width:120%;
    }
  }
}

// -- Select
select {
  height: 50px;
  font-size: 1.25rem;
  border: 1px solid $wt;
  width: 100%;
  padding: 12px;
  font-family: $mon;
  border-radius: 4px;
  color: $wt;
  background: transparent;
  &:focus,
  &.active {
    outline: none;
    border: 2px solid $mag;
  }
}

// -- Button Style
button {
  font-size: 1.25rem;
  font-family: $mon;
  font-weight: 300;
  line-height: 2.5;
  color: rgba(255, 255, 255, 0.65);
  padding: 0 4em;
  margin-top: 25px;
  margin-bottom: 25px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;

  &:hover,
  &:focus {
    background: $mag;
    border-color: $mag;
    color: $wt;
  }
}
